.object {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 100px;

  &__info {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
  &__figure {
    padding: 20px;
    height: 600px;
    max-width: 640px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img {
    width: 100%;

    transition: all 1s ease-in-out;
    &:hover {
      transform: scale(105%);
    }
  }
  &__title {
    font-size: 32px;
    text-align: center;
    span {
      font-size: 32px;
      font-weight: 700;
    }
  }
  &__content {
    line-height: normal;
  }
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__sizes {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 300px;
  }
  &__size--active {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  &__size {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #dcdcdc;
    color: #dcdcdc;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      border: 1px solid #000;
      color: #000;
    }
  }
  &__text {
    font-size: 24px;
  }
  &__btns {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  &__btn--active {
    padding: 6px 20px 8px;
    border-radius: 40px;
    background: transparent;
    border: 1px solid #dcdcdc;
    color: #7b7b7b;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #000;
      border: 1px solid #000;
    }
  }
  &__btn {
    padding: 6px 20px 8px;
    border-radius: 40px;
    background: transparent;
    border: 1px solid #dcdcdc;
    color: #7b7b7b;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #000;
      border: 1px solid #000;
    }
  }
}

@media (max-width: 1450px) {
  .object {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 950px) {
  .object {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__sizes {
      width: auto;
    }
  }
}

@media (max-width: 900px) {
  .object {
    padding: 26px 0 41px;
    &__img {
      &:hover {
        transform: scale(100%);
      }
    }
    &__size {
      &:hover {
        border: 1px solid #dcdcdc;
        color: #dcdcdc;
      }
    }
    &__btn--active {
      &:hover {
        border: 1px solid #dcdcdc;
        color: #7b7b7b;
      }
    }
    &__btn {
      &:hover {
        border: 1px solid #dcdcdc;
        color: #7b7b7b;
      }
    }
  }
}

@media (max-width: 630px) {
  .object {
    &__title {
      font-size: 26px;
      span {
        font-size: 26px;
      }
    }
    &__content {
      font-size: 16px;
    }
    &__block {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
    }
    &__sizes {
      justify-content: flex-start;
      gap: 5px;
    }
    &__info {
      padding: 10px;
      gap: 10px;
    }
    &__text {
      font-size: 20px;
    }
    &__size {
      width: 30px;
      height: 30px;
      font-size: 16px;
    }
    &__size--active {
      width: 30px;
      height: 30px;
      font-size: 16px;
    }
    &__btn {
      font-size: 16px;
      padding: 3px 10px 4px;
    }
    &__btn--active {
      font-size: 16px;
      padding: 3px 10px 4px;
    }
    &__figure {
      padding: 10px;
      height: 400px;
    }
  }
}
